html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
}


html {
    --text-regular-color: #444;
    --shadow-color: rgba(0,0,0,.3);
    --viewport-background-color: #f3f3f3;
    --container-background-color: #fefefe;

    --header-background-color: #679;    
    --header-text-color: #eee;
}